:root{
    --tipografia-a-font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --tipografia-h2-presentacion:'Roboto Slab', serif;
    --color-de-backgraund-main: black;
    --color-de-backgraund-footer:#19191a;
    --tipografia-color-articulo: white;
    --tipografia-color-presentacion:yellow;
    --tipografia-border-color: #002864;  
    --background--main-services: #0a0a0a;
    --background--main-services-cards: #19191a;
    --background--color-footer:#212121;
}

body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    font-family: var(--tipografia-a-font-family);
    color: var(--tipografia-color-presentacion);
    font-size: 16px;
    font-weight: 300;
}

.header--nav{
    width: 100%;
    margin: 0;
    padding: 0; 
    background-color: #0a0a0a;
    height: 462px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header--nav-menu  {
    display: flex;
    list-style: none;
    justify-content: end;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 40px;
    
}
.header--nav-menu li{
    padding-right: 25px;
    padding-top:20px ;

}

.header--nav-presentacion{
    display: grid;
    justify-items: center;
    margin-top: 40px;
    height: 285px;
}
.header--nav-presentacion img{
    border-radius: 53px;
    width: 259px;
    display: grid;
    justify-content: center;
    padding-top: 10px;
    height: auto;
}
.header--nav-presentacion div{  
    text-align: center;
}
.header--nav-presentacion div h1{
    font-family: 'Roboto Slab', serif;
    color: var(--tipografia-color-articulo);
    font-size: 47px;
    font-weight: 800;
    margin-bottom: 0px;
}
.header--nav-presentacion div h2{
    font-family: var(--tipografia-h2-presentacion);
    color:var(--tipografia-color-presentacion);
    font-weight: 200;
    font-size: 21px;
  }
  main{
    background-color:var(--color-de-backgraund-main);
    margin-top: -15px;
  }

.main--info-about{
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    margin-top: 15px;
    padding-top: 30px;
    margin-bottom: 69px;
    padding-top: 48px;
    padding-right: 0px;
  }
   
   

.main--info-about img{
    width: 400px;
    margin-right: 50px;
    border-radius: 88px;
}
.main-Descripcion--perfil h4{
    color: var(--tipografia-color-presentacion);
    font-size: 14px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.main-Descripcion--perfil h2{
    color:var(--tipografia-color-articulo);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-Descripcion--perfil p{
    color: var(--tipografia-color-articulo);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-Descripcion--perfil ul{
    border-left-width: 1px;
border-left-style: solid;
border-top-width: 1px;
border-top-style: solid;
border-right-width: 1px;
border-right-style: solid;
border-bottom-width: 1px;
border-bottom-style: solid;

    border-color:var(--tipografia-border-color);
    padding-top: 13px;
    border-radius: 20px;
    height: 120px;
}
.main-Descripcion--perfil ul > li{
    color: var(--tipografia-color-articulo);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.main-Descripcion--perfil button{
    height: 40px;
padding-top: 0px;
margin-top: 5px;
width: 107px;
background-color: var(--tipografia-border-color);
border: none;
border-radius: 30px;
}
.main-Descripcion--perfil button > a{
    color: var(--tipografia-color-presentacion);
}


.main-services{
    padding-top: 40px;
    padding-left:100px ;
    padding-right: 100px;
    display: grid;
    background-color: var(--background--main-services);
    padding-bottom:40px ;
}

.main-services h4{
    padding-top: 0px;
    color: var(--tipografia-color-presentacion);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.main-services h1{
    color: var(--tipografia-color-articulo);
    padding-top: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-services--cards{
    display: flex;
    padding-top: 20px;
}
.main-services--cards article{
    margin-right: 55px;
    border-radius: 25px;
    margin-bottom: 20px;
    width: 290px;
    background-color: var(--background--main-services-cards);
    box-shadow: revert;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 18px;
  }

.main-services--cards article > div{
    margin-right: 15px;
    margin-left: 15px;
}
.main-services--cards article > div h3{
    color: var(--tipografia-color-presentacion);
    font-family: var(--tipografia-a-font-family);
}
.main-services--cards article > div p{
    color: var(--tipografia-color-articulo);
    font-family: var(--tipografia-a-font-family);
    padding-bottom: 1px;
}

.main-services--cards article button{
    width: 90px;
    color: orangered;
    background-color: #002864;
    height: 30px;
    border: none;
    border-radius: 40px;
}
footer{
    background-color: var(--background--color-footer);
    height: 73px;
}
.footer--container{
    display: flex;
justify-content: center;
padding-top: 20px;
}
.footer--container span{
    margin-right: 100px;
}

/*/--------------------pagina de perfil--------------------------*/
.header--nav-perfil{
    background-color: black;
    height: 20px;
}
.container--lista{
    display: flex;
    list-style: none;
    justify-content: end;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 19px;
}
.container--lista li{
    padding-right: 37px;
    margin-top: 15px;

}
.container--lista li > a{
    color: yellow;
    text-decoration: none;
    font-family: var(--tipografia-a-font-family);
}


.main--descripcion-perfil{
    display: flex;
    padding-top: 47px;
    padding-right: 150px;
    padding-left: 150px;
    background-color: var(--background--main-services-cards);
    padding-bottom: 40px;
}


.main--descripcion-perfil{
    background-color: black;
}
.main--descripcion-perfil img{
    width: 378px;
}
.descripcion--perfil{
    color: white;
    padding-left: 35px;
}
.descripcion--perfil h1{
    color: yellow;
    font-family: var(--tipografia-a-font-family);
}
.descripcion--perfil p{
    font-family: var(--tipografia-a-font-family);
}
.main--proyectos{
    text-align: center;
    
    padding-left: 100px;
padding-right: 100px;
padding-top: 20px;
margin-bottom: 55px;
padding-top: 2px;
margin-bottom: 0px;
padding-bottom: 50px;
background-color: #0a0a0a;
}

.main--proyectos h2{
    color: yellow;
    font-family: var(--tipografia-h2-presentacion);
    margin-bottom: 52.92px;
}
.proyects-cards{
    display: grid;
    grid-template-columns: repeat(3 ,0fr);
    grid-gap: 2em 3.5em;
   
}
.proyects-cards article{
    background-color: var(--background--main-services-cards) ;
    width: 280px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: left;
    border-radius: 30px;
    height: 260px;
}
.proyects-cards article h4{
    margin-top: 21px;
    margin-bottom: 0px;
    color: yellow;
    font-family: var(--tipografia-h2-presentacion);
    margin-top: 5px;
padding-bottom: 10px;
}
.proyects-cards article p{
    margin-top: 8px;
    color: white;
    font-family: var(--tipografia-a-font-family);
}
.proyects-cards article button{
    padding-top: 0px;
    width: 90px;
    height: 30px;
    border: none;
    background-color: #002864;
    border-radius: 20px;
}
footer{
    background-color: var(--background--color-footer);
height: 73px;
}
.footer--perfil-redes{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.footer--perfil-redes span{
    margin-right: 100px;
}

/*---------------------paginas de perfil-------------------------*/

/*--------------pagina de blog--------------------*/
.blogpost{
    padding-bottom: 10px;
    background-color: black;
}
.header-blogpost--conteiner{
display: flex;
list-style: none;
justify-content: end;
margin-top: 0px;
padding-top: 20px;
padding-right: 40px;
}
.header-blogpost--conteiner li{
    padding-right: 35px;
}
.header-blogpost--conteiner li > a{
    color: yellow;
    text-decoration: none;
}

.blogpost--logo{
    padding-top: 14px;
height: 43px;
display: grid;
grid-template-columns: 1fr 2fr;
background-color: #212121;
grid-gap: 1em 73.5em;
padding-left: 30px;
}
.main-blogpost{
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    
}
.main-blogpost img{
    width: 808px;
padding-left: 100px;
}
.blogpost-tittle-conteiner{
color: white;
padding-left: 100px;
padding-right: 100px;
}
.blogpost-tittle-conteiner h1{
    color: yellow;
    margin-top: 50px;
    letter-spacing: 1.5px;
    font-size: 40px;
    margin-bottom: 20px;
}
.blogpost-parrafos p{
    letter-spacing:1.3px ;
    font-size: 20px;
}


.blogpost--footer-icons{
    display: flex;
justify-content: center;
padding-top: 20px;
}
.blogpost--footer-icons span{
    margin-right: 100px;
}
/*------------pagina de blogs--------------------*/





.header--nav-blogs{
    padding-bottom: 10px;
    background-color: black;
}
.header--nav-blogsmenu{
    display: flex;
list-style: none;
justify-content: end;
}
.header--nav-blogsmenu li{
    padding-right: 25px;
}
.header--nav-blogsmenu li > a{
    color:yellow;
    text-decoration: none;
    font-family: var(--tipografia-a-font-family);
}

.blogs{
    background-color: var(--color-de-backgraund-main);
    margin-top: -20px;
  display: block;
}
.blogs-principal{
    
    padding-top: 47px;
    padding-right: 150px;
    padding-left: 150px;
    background-color:black;
    padding-bottom: 40px;

}
.blogs-principal h2{
    color: yellow;
    font-family: var(--tipografia-a-font-family);
}
.blogs-conteiner{
    display: flex;
}
.blogs-conteiner img{
    width: 528px;
}
.blogs--texto{
    padding-left: 40px;
    
}
.blogs--texto h3{
    color: yellow;
    font-family: var(--tipografia-a-font-family);
}
.blogs--texto p{
    color: white;
    font-family:var(--tipografia-a-font-family);
}

.main--blogpost img{
    width: 528px;
}
.blogpost--contenedor{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #0a0a0a;
}
.blogpost--contenedor h2{
    text-align: center;
    color: yellow;
}

.blogpost--cards{
    display: grid;
    grid-template-columns: repeat(3 ,0fr);
    grid-gap: 2em 3.5em;
}
.blogpost--cards article{
    background-color: var(--background--main-services-cards);
    width: 280px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: left;
    border-radius: 30px;
    height: 310px;
}
.blogpost--cards article > h4{
    color: yellow;
    font-family: var(--tipografia-a-font-family);
    margin-bottom: 20px;
}
.blogpost--cards article > p{
    color: white;
    font-family: var(--tipografia-a-font-family);
    letter-spacing: 1.2px;
    margin-bottom: 25px;
}
.blogpost--cards article > button{
    background-color: #002864;
    border: none;
    border-radius: 10px;
    width: 95px;
    height: 30px;
}
footer{
    background-color: var(--background--color-footer);
height: 73px;
}
.fotter-blogs{
    display: flex;
    justify-content: center;
    padding-top: 20px;
  
}
.fotter-blogs span{
    margin-right: 100px;   
}

/*-----------------------pagina de blogs-------------------*/
